@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
   --font-family: 'Quicksand', sans-serif;
   --primary-color: "#6d28d9";
}
html {
	font-size: 16px;
	scroll-behavior: smooth;
    overflow-x: hidden;
}
a {
	text-decoration: none;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
body{
    min-height: 100vh;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background: #fcfcfc;
    padding: 0 2rem;
}
.logo{
    font-size: 1.2rem;
    padding: 1.2rem;
    font-family: var(--font-family);
    font-weight: 700;
}
.nav-link{
    padding: 1rem;
}
.social-Link,.navbar{
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
    justify-items: center;
    padding: 1rem;
    font-size: .9rem;
    cursor: pointer;
    font-weight: 700;
    color: rgb(90, 90, 90);;
}
li:hover{
    color: #111;
}

.hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-heading{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
.hero-para{
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: .1rem;
}
.btn-install{
    border-width: 0;
    outline: none;
    border: 1px solid #6d28d9;
    padding: .8rem 1rem;
    font-size: 1rem;
    margin-right: 1rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    transition: all 0.2s ease-in;
}
.btn-documentation{
    background-color: #6d28d9;
    color: #fcfcfc;
    font-family: var(--font-family);
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    border-width: 0;
    cursor: pointer;
    padding: .8rem 1rem;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}
.btn-documentation:hover{
    background-color: #fcfcfc;
    color: #6d28d9;
    border: 1px solid #6d28d9;
}
.btn-install:hover{
    background-color: #6d28d9;
    color: #fcfcfc;
}
#div-main {
    width: 90%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  #side {
    width: 5rem;
    height: 10rem;
    flex-grow: 1;
    
  }
  #main {
    width: 5rem;
    height: 5rem;
    padding: 2rem;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .install-heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
