@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
   --font-family: 'Quicksand', sans-serif;
  }
body{
    min-height: 100vh;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    background: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.logo{
    font-size: 1.2rem;
    padding: 1.2rem;
    font-family: var(--font-family);
    font-weight: 500;
}
.social-Link,.navbar{
    display: flex;
}
li{
    list-style-type: none;
    justify-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}
li:hover{
    color: #dc143c;
}